<!--@subject Willkommen, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family: Helvetica, Verdana, Arial, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family: Helvetica, Verdana, Arial, sans-serif; font-size:12px; margin:0; padding:0;">

<h2 style="text-align:center; background:#fff; height:80px; line-height:80px; margin:0px;">
    <a href="{{store url=""}}">
        <img style="vertical-align:middle;" src="{{skin url='img/email_logo.png' _area='frontend'}}" alt="{{var logo_alt}}" border="0"/>
    </a>
</h2>

<table style="background:#f0f0f0;" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <table bgcolor="" cellspacing="0" cellpadding="30" border="0" width="600" style="width:600px">
                <!-- [ header starts here] -->
                <!-- <tr>
                    
                </tr> -->
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top" style="font-size:18px; line-height:28px;">
                            <h1 style="font-size:18px; font-weight:normal; line-height:28px; margin:0 0 11px 0;">Guten Tag {{htmlescape var=$customer.name}},</h1>
                            <p style="margin:0 0 16px 0;">herzlich Willkommen in unserem Shop. Um sich bei Ihrem nächsten Besuch in unserem Shop anzumelden, klicken Sie einfach auf <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Anmelden</a> oder <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mein Benutzerkonto</a> im oberen Bereich jeder Seite, und geben Sie Ihre E-Mail Adresse und Passwort ein.</p>
                            <p style="margin:0 0 8px 0;">Nach erfolgreichem Login auf unserer Seite haben Sie die folgenden Möglichkeiten:</p>
                            <ul style="margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Schnellerer Bezahlvorgang beim nächsten Einkauf</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Den Status laufender Bestellungen einsehen</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Bestellhistorie einsehen</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Verwalten Ihrer Kundendaten</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Ihr Passwort ändern</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Verschiedene Adressen für den Versand an Familienmitglieder und Freunde sowie Rechnungsadressen speichern</li>
                            </ul>
                            <p style="margin:0;">
                                Falls Sie Fragen oder Anregungen haben, kontaktieren Sie uns bitte wahlweise per E-Mail
                                <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                                oder auch gerne per Telefon unter der Rufnummer {{config path='general/store_information/phone'}}.
                            </p>
                        </td>
                    </tr>

            </table>
        </td>
    </tr>
</table>

<div style="float:left; width:100%; background:#ffffff; padding: 20px 0;">
    <div style="width:600px; margin: 0 auto;">
        <a style="text-transform: uppercase; display:block; float:left; padding:12px 50px; color: #000; text-decoration: none; border: 1px solid #000; " href="mailto:{{config path='trans_email/ident_support/email'}}">Email Support</a>
        <div style="font-size: 14px; padding-top: 13px; float:right; ">TEL: {{config path='general/store_information/phone'}}</div>
    </div>
</div>

</div>
</body>
