<!--@subject {{var store.getFrontendName()}}: Shipment # {{var shipment.increment_id}} update @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">

<h2 style="text-align:center; background:#fff; height:80px; line-height:80px; margin:0px;">
    <a href="{{store url=""}}">
        <img style="vertical-align:middle;" src="{{skin url='img/email_logo.png' _area='frontend'}}" alt="{{var logo_alt}}" border="0"/>
    </a>
</h2>

<table style="background:#f0f0f0;" cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <table bgcolor="" cellspacing="0" cellpadding="30" border="0" width="600" style="width:600px">
            <!-- [ header starts here] -->
            <!-- <tr>
                
            </tr> -->
            <!-- [ middle starts here] -->

            <tr>
                <td valign="top" style="font-size:14px; line-height:22px;">
                    <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear {{htmlescape var=$order.getCustomerName()}},</h1>
                    <p style="">
                        Your order # {{var order.increment_id}} has been <br/>
                        <strong>{{var order.getStatusLabel()}}</strong>.
                    </p>
                    <p style="">You can check the status of your order by <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">logging into your account</a>.</p>
                    <p style="">{{var comment}}</p>
                    <p style="">
                        If you have any questions, please feel free to contact us at
                        <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>
                        or by phone at {{config path='general/store_information/phone'}}.
                    </p>
                </td>
            </tr>

        </table>
    </td>
</tr>
</table>

<div style="float:left; width:100%; background:#ffffff; padding: 20px 0;">
    <div style="width:600px; margin: 0 auto;">
        <a style="text-transform: uppercase; display:block; float:left; padding:12px 50px; color: #000; text-decoration: none; border: 1px solid #000; " href="mailto:{{config path='trans_email/ident_support/email'}}">Email Support</a>
        <div style="font-size: 14px; padding-top: 13px; float:right; ">TEL: {{config path='general/store_information/phone'}}</div>
    </div>
</div>

</div>
</body>