<?xml version="1.0"?>
<config>
	<sections>
		<general>
			<groups>
				<shoplanding translate="label">
					<label>Shop Landing Page</label>
					<sort_order>500</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<sub_cats translate="label comment">
                            <label>Categories ID</label>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sub_cats>
					</fields>
				</shoplanding>
			</groups>
		</general>
	</sections>
</config>
